<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPT API Key</key>
	<string>$(GPT_API_KEY)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to capture photos of recipe book pages to extract recipe names automatically.</string>
</dict>
</plist>
